{% extends "base_layout.html" %}
{% block Title%}Contact{% endblock %}
{% block Navbar%}{% include "navbar.html" %}{% endblock %}
{% block Content %}
    <div class="container">
      <div class="well">
        <div>
          <p><h2>Contact Info:</h2></p>
          <p>The calculations performed by this website are not expected to be 100% correct, until development is complete.</p>
          <p>Please do not send communications regarding the answers you receive.</p>
          <p>If you feel that you have a suggestion or can offer ideas, feel free to
          <a href="javascript:m_generate('bulsinkp','?subject=Comments about ChemCalculator')">send an email</a>.</p>
          <p>Thanks!</p>
          <p><a href="/ea" class="btn btn-primary">Back to Form</a></p>
        </div>
      </div>
      <div class="row"></div>
    </div>
{% endblock %}