{% extends "base_layout.html" %}
{% block Title%}Elemental Analysis{% endblock %}
{% block Navbar%}{% include "navbar-ea.html" %}{% endblock %}
{% block Content %}
    <div class="container">
      <div class="row">
        <form method="post">
          <div class="col-md-5">
            <label class="form-label">Enter your sample's formula:</label>
            <input type="text" class="form-control pull-right input-sm" name="formula" value="{{formula}}">
            <div class="form-group">
              <label class="control-label">Experimental Results:</label>
              <div class="controls">
                <table class="table table-condensed">
                  <tbody>
                    {% for e in exp_variables %}
                    <tr>
                      <td>
                        <label class="form-label">{{e[0]}}</label>
                      </td>
                      <td>
                        <input type="text" name="{{e[1]}}" value="{{e[2]}}" class="form-control input-sm">
                      </td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>

          <div class="col-md-5">
            <div class="form-group">
              <label class="control-label">Possible Solvent Contaminents. <br> More than 3 solvents likely won't finish calculating.</label>
              <div class="controls">
                {% for s in solvent_variables %}
                <div class="checkbox">
                  <label>
                    <input type="checkbox" name="solvent" value="{{s[0]}}" {{'checked="yes"' if s[1][1] == True|safe}}> {{s[1][0]}}</label>
                </div>
                {% endfor %}
              </div>
            </div>
  
            <table class="table">
              <tbody>
                {% for o in other_variables %}
                <tr>
                  <td>
                    <label class="form-label">Other Solvent:</label>
                  </td>
                  <td>
                    <input type="text" name={{o[1]}} value="{{o[0]}}" class="form-control input-sm">
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
            <button class="btn btn-primary" type="submit">Calculate</button>
            <button class="btn btn-primary" type="reset">Reset</button>
            <a href="/ea/help"><button class="btn btn-primary" type="button">How to Use</button></a>
          </div>
        </form>
      </div>

      {% if error %}
      <div class="container">
        <p class="clearfix"></p>
      </div>
      <div class="alert alert-danger">
        {{error}}
      </div>
    {% endif %}
    <hr>
    </div>
{% endblock %}