{% extends "base_layout.html" %}
{% block Title%}Help - Elemental Analysis{% endblock %}
{% block Navbar%}{% include "navbar.html" with active_page='ea' %}{% endblock %}
{% block Content %}
    <div class="container">
      <div class="well">
        <div>
      <p><h2>Instructions:</h2></p>
      <p>Enter your formula in the proper box. Formulas can be linear (e.g. CH3CH(CH3)CH2CH2OH)
      or elemental (e.g. C5H12O), and can contain solvents or salts of crystallization (eg AuCl3*H2O).</p>
      <p>To generate a theoretical elemental analysis, just press calculate.</p>
      <p>Solvent inclusion calculations to correct experimental results can be performed by entering
      experimental data and choosing possible solvent interferences.</p>
      <p>For best and quickest result use only possible interferences, don't select all solvents.
      More than 3 solvents likely won't finish calculating before the program is killed.</p>
      <p>Please note that this is still under development, and may contain errors.</p>
      <p>This website holds no guarantee that calculated values are correct, and will not be responsible
      if incorrect values poorly influence future experimentation or have an effect on publishing papers.</p>
      <p><a href="/ea" class="btn btn-primary">Back to Form</a></p>
    </div>
      </div>
      <div class="row"></div>
      <hr>
    </div>
{% endblock %}