<!doctype html>

<html>
  
  <head>
    <title>About - Elemental Analysis Calculator</title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootswatch/3.0.0/flatly/bootstrap.min.css">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script type="text/javascript" src="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <meta name="google-site-verification" content="Y79BxTt4LQQyR2TwMdYkBa7KnRggtINCA6S-v7rsqAg" />
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-43106562-1', 'chn-solvent.appspot.com');
      ga('send', 'pageview');
    </script>
  </head>
  
  <body>
    <header>
      <div class="navbar navbar-static-top navbar-default">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
            </button>
            <a href="/ea" class="navbar-brand">ChemCalculator</a>
          </div>
          <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
              <li>
                <a href="/ea">Home</a>
              </li>
              <li class="active">
                <a href="/about">About</a>
              </li>
              <li>
                <a href="/contact">Contact</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </header>
    <div class="container">
      <div class="well">
        <div>
      <p><h2>Instructions:</h2></p>
      <p>Enter your formula in the proper box. Formulas can be linear (e.g. CH3CH(CH3)CH2CH2OH)
      or elemental (e.g. C5H12O), and can contain solvents or salts of crystallization (eg AuCl3*H2O).</p>
      <p>To generate a theoretical elemental analysis, just press calculate.</p>
      <p>Solvent inclusion calculations to correct experimental results can be performed by entering
      experimental data and choosing possible solvent interferences.</p>
      <p>For best and quickest result use only possible interferences, don't select all solvents.
      More than 3 solvents likely won't finish calculating before the program is killed.</p>
      <p>Please note that this is still under development, and may contain errors.</p>
      <p>This website holds no guarantee that calculated values are correct, and will not be responsible
      if incorrect values poorly influence future experimentation or have an effect on publishing papers.</p>
      <p><a href="/ea" class="btn btn-primary">Back to Form</a></p>
    </div>
      </div>
      <div class="row"></div>
      <hr>
    </div>
    <footer>
      <div class="container">&copy; 2013 Philip Bulsink</div>
    </footer>
    <br>
  </body>

</html>