{% extends "base_layout.html" %}
{% block Title%}Hire Me- Elemental Analysis{% endblock %}
{% block Navbar%}{% include "navbar.html" %}{% endblock %}
{% block Content %}
    <div class="container">
      <div class="well">

          <p><h2>Hire Me!</h2></p>
          <p>Are you looking for a chemist who knows how to program? A programmer who
          knows how to chemistry? Well, you've found the guy!</p>
          <p>My education includes a Master's degree in Chemistry from the University
          of Ottawa, currently in progress, and a Bachelor of Science in Honour's
          Chemistry, Co-op, with a Music Minor, from the University of Waterloo in 2007.</p>
          <p>My experience includes 26 months of in-laboratory chemical research,
          in inorganic, computational, and materials chemistry. Part of that includes
          programming to assist data handling, and equipment interfaces. This has
          taught me the ability to attack large scale problems in a strategic way, and
          develop the skills and connections I need to find solutions.</p>
          <p>My programming projects can be seen on <a href="https://github.com/pbulsink">GitHub</a>.
          <p>I also have experience in analytical settings, so accuracy, attention to
          detail, and the importance of quality control are deeply engrained in me.</p>
          <p>My programming knowledge is a mix of home-grown and a few courses. Using Udacity
          and Google I've been able to build this site, and a few others. I know I
          have lots to learn, but being able to teach myself what I need to know has been
          hugely beneficial.</p>
          <p>More detail on my skills, education, and experience can be found on my resume.</p>
          <p><a class="btn btn-primary" href="/resume.pdf" target="_blank" onclick="_gaq.push(['_trackEvent', 'File Download', 'Download', 'resume.pdf', 0]);">Read My Resume &raquo;</a></p>
      </div>
      <div class="row"></div>
      <hr>
    </div>
{% endblock %}