<!doctype html>

<html>
  
  <head>
    <title>Home - ChemCalculator</title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootswatch/3.0.0/flatly/bootstrap.min.css">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script type="text/javascript" src="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <meta name="google-site-verification" content="Y79BxTt4LQQyR2TwMdYkBa7KnRggtINCA6S-v7rsqAg" />
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-43106562-1', 'chn-solvent.appspot.com');
      ga('send', 'pageview');
    </script>
  </head>
  
  <body>
    <header>
      <div class="navbar navbar-static-top navbar-default">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
            </button>
            <a href="/" class="navbar-brand">ChemCalculator</a>
          </div>
          <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
              <li class="active">
                <a href="/">Home</a>
              </li>
              <li>
                <a href="/ea">Elemental Analysis</a>
              </li>
              <li>
                <a href="/isotopes">Table of Isotopes</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </header>
    <div class="jumbotron">
      <div class="container">
        <h1>ChemCalculator</h1>
        <p>Need help with some of those guess and test chemistry problems? Want a quicker way of getting through your results? See if any of the tools on this site can help you with that!</p>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <h2>Elemental Analysis</h2>
          <p>Calculate the percent composition of your compound, or find how much of selected solvents are needed to bring experimental values in line with actual composition.</p>
          <p><a class="btn btn-primary" href="/ea">Elemental Analysis &raquo;</a></p>
        </div>
        <div class="col-lg-4">
          <h2>Table of the Isotopes</h2>
          <p>A table of the isotopes, easily simplified to show only the element you're looking for. All data comes from the NIST database.</p>
          <p><a class="btn btn-primary" href="/isotopes">Table of Isotopes &raquo;</a></p>
        </div>
        <div class="col-lg-4">
          <h2>More Information</h2>
          <p>Get information on this website and see what else is in the works</p>
          <p><a class="btn btn-primary" href="/about">Information &raquo;</a></p>
        </div>
      </div>
    <hr>
    <footer>
      <div class="container">
        <p><a href="/about">About</a> &bull; <a href="/contact">Contact</a> &bull; &copy; 2013 Philip Bulsink</p>
      </div>
    </footer>
    <br>
  </body>

</html>