{% extends "base_layout.html" %}
{% block Title%}Help - Table of Isotopes{% endblock %}
{% block Navbar%}{% include "navbar.html" with active_page='isotopes' %}{% endblock %}
{% block Content %}
    <div class="container">
      <div class="well">
        <div>
      <p><h2>Instructions:</h2></p>
      <p>The table of isotopes contains exact masses and abundances for all of the stable isotopes in the periodic table.</p>
      <p>Updated as new information comes out, it contains information directly from the <a href="http://physics.nist.gov/cgi-bin/Compositions/stand_alone.pl">NIST</a> database.</p>
      <p>To view only a single element's isotopes, select it either by name or symbol in the dropdown list at the top. To return to the full list, select "All Elements".</p>
      <p><a href="/isotopes" class="btn btn-primary">Back to Table</a></p>
    </div>
      </div>
      <div class="row"></div>
      <hr>
    </div>
{% endblock %}