<!doctype html>

<html>
  
  <head>
    <title>EA Help - ChemCalculator</title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootswatch/3.0.0/flatly/bootstrap.min.css">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script type="text/javascript" src="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <meta name="google-site-verification" content="Y79BxTt4LQQyR2TwMdYkBa7KnRggtINCA6S-v7rsqAg" />
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-43106562-1', 'chn-solvent.appspot.com');
      ga('send', 'pageview');
    </script>
  </head>
  
  <body>
    <header>
      <div class="navbar navbar-static-top navbar-default">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
            </button>
            <a href="/" class="navbar-brand">ChemCalculator</a>
          </div>
          <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
              <li>
                <a href="/">Home</a>
              </li>
              <li>
                <a href="/ea">Elemental Analysis</a>
              </li>
              <li class="active">
                <a href="/isotopes">Table of Isotopes</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </header>
    <div class="container">
      <div class="well">
        <div>
      <p><h2>Instructions:</h2></p>
      <p>The table of isotopes contains exact masses and abundances for all of the stable isotopes in the periodic table.</p>
      <p>Updated as new information comes out, it contains information directly from the <a href="http://physics.nist.gov/cgi-bin/Compositions/stand_alone.pl">NIST</a> database.</p>
      <p>To view only a single element's isotopes, select it either by name or symbol in the dropdown list at the top. To return to the full list, select "All Elements".</p>
      <p><a href="/isotopes" class="btn btn-primary">Back to Table</a></p>
    </div>
      </div>
      <div class="row"></div>
      <hr>
    </div>
    <footer>
      <div class="container">
        <p>&copy; 2013 Philip Bulsink &bull; <a href="/about">About</a> &bull; <a href="/contact">Contact</a></p>
      </div>
    </footer>
    <br>
  </body>

</html>