{% extends "base_layout.html" %}
{% block Title%}Table of Isotopes{% endblock %}
{% block Navbar%}{% include "navbar-isotopes.html" %}{% endblock %}
{% block Content %}
    <div class="container">
      <div class="well">
        <p><h2>Table of Isotope Masses:</h2></p>
        <p>Isotopic masses are provided for all stable isotopes.</p>
      </div>
      <form method="get" action="/isotopes">
        <div class="container">
          <div class="row">
            <div class="col-xs-3">
              <label class="form-label"><h5>Select Element by Name or Symbol:</h5></label>
            </div>
            <div class="col-xs-3">
              <select class="form-control" name="e">
                {% for e in element_symbol %}
                <option value="{{e[1]}}">{{e[0]}}</option>
                {% endfor %}
              </select>
            </div>
            <div class="col-xs-3">
              <select class="form-control" name="f">
                {% for e in element_name %}
                <option value="{{e[1]}}">{{e[0]}}</option>
                {% endfor %}
              </select>
            </div>
            <div class="col-xs-2">
              <button class="btn btn-primary" type="submit">Select Element</button>
            </div>
          </div>
        </div>
      </form>
      <br>
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th>Element</th>
            <th>Symbol</th>
            <th>Isotope</th>
            <th>Mass</th>
            <th>Abundance</th>
          </tr>
        </thead>
        <tbody>
          {% for e in elements %}
          <tr>  
            <td><a href="/isotopes/{{e[1]}}" style="color:inherit">{{e[0]}}</a></td>
            <td><a href="/isotopes/{{e[1]}}" style="color:inherit">{{e[1]}}</a></td>
            <td>{{'%0.0f' % e[3][0]}}</td>
            <td>{{'%f' % e[3][1]}}</td>
            <td>{{'%s' % e[3][2]}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <div class="well">
        <p>*Abundances may not add up to 100.00 due to rounding or other factors.</p>
        <p>Informaion from <a href="http://physics.nist.gov/cgi-bin/Compositions/stand_alone.pl">NIST's</a> database of isotopes.</p>
        <p>Help can be found <a href="/isotopes/help">here</a>.</p>
      </div>
      <hr>
    </div>
{% endblock %}